h2 {
    text-align: center;
    color: rgb(58, 97, 148);
}

h3 {
    color: rgb(58, 97, 148);
    border-bottom: 2px solid;
}
img {
    height: 20%;
    width: 10%;
}
.name {
    overflow: hidden;
    float: right;
    margin-right: 25%;
}
body {
    border: 2px solid rgb(83, 81, 81);
    margin: 3% 20% 3% 20%;
    background-color: rgb(202, 205, 209);
}
.content {
    background-color: white;
    padding-left: 3%;
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 3%;
}





